* {
text-align:center;
  font-family: tahoma
}
table {
  margin: auto;
  border: 3px  solid lightblue;
  border-collapse:
collapse;
  
}
th, td{border: 3px  solid lightblue;}
nav{
  position: fixed;
  width: 100%;
       
}
nav a{
text-decoration: none;
  color: blue;
  
}
nav ul{   background-color: lightblue;
  display: flex;
  gap:60px; 
  
}
